
.panel {
    margin-bottom: 5px;
}

.panel-default > .panel-heading {
    padding: 5px;
}

.panel-body {
    padding: 5px;
}

textarea.form-control,
input.form-control{
	background: gray;
	color: white;
    height: auto;
    padding: 2px 4px;
}

.btn {
    padding: 0 6px;
}

table {
    font-size: 0.8em;
}

.table {
    margin-bottom: 0;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 4px;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 5px;
}

.form-control::-webkit-input-placeholder {
   color: #FF0000;
}

#ajaxLoader {
    margin-left: 10px;
    display: none;
}

.blueprint {
    display: none;
}

#lootModal .buttons {
    text-align: center;
}

#lootModal .buttons .btn {
    margin-right: 5px;
}

#lootModal #containers .buttons {
    margin-bottom: 15px;
}

#lootModal #containers .thumbnail a {
    position: absolute;
    top: 5px;
    right: 20px;
    color: red;
}

#lootModal form label {
    white-space: nowrap;
}